<h1>Olá, canditato(a). Esse é o projeto base de seu desafio. Abaixo alguns links para auxilio.</h1>
<p>PS. não se esqueça de substituir o conteúdo dessa pagina</p>
<ul>
  <li>Referência para <a href='https://get.asp.net/'>ASP.NET Core</a> e <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a></li>
  <li>Referência para <a href='https://angular.io/'>Angular</a> e <a href='http://www.typescriptlang.org/'>TypeScript</a></li>
  <li>Referência para <a href='http://getbootstrap.com/'>Bootstrap</a></li>
</ul>
<p>Boa sorte e que a força esteja com você!</p>